body {
  margin: 0;
  padding: 0;
  display: inline;
  font-family: "Manrope";
  font-size: 15px;
  width: 500%;
}
#git-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*What is Git style */
.what-git {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #f7f7f5;
}
